html,
body,
* {
  padding: 0;
  margin: 3rem;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #ebfaff;
}

.title {
  color: #53599a;
  font-size: 5rem;
  text-align: center;
}

.subtitle {
  font-size: 4rem;
  border: 0.5rem solid #a1aeb3;
  width: 20rem;
  background-color: #91d9f3;
  margin: 10rem;
}
