html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background-color: #ebfaff;
}

.title {
  color: #53599a;
  font-size: 5rem;
  text-align: center;
  margin-top: 1.5rem;
  transition: transform 1s ease-in-out;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10rem auto;
  width: 60vw;
}

.blog {
  border: 1rem solid #a1aeb3;
  width: 27%;
  background-color: #91d9f3;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10%;
  box-shadow: black 0 1rem 2rem;
}

.cat-picture {
  margin: 5rem auto;
  width: 90%;
  border-radius: 10%;
  transition: ease-in-out 1s;
}

.subtitle {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.blog:hover {
  transform: scale(1.1);
}

.cat-picture:hover {
  transform: scale(2);
}

.smudge:hover {
  display: inline;
}

.title:hover {
  transform: rotate(360deg);
}

.subtitle:hover {
  transform: scaleY(2);
}

@media (max-width: 1024px) {
  html,
  body,
  * {
    font-size: 0.6rem;
  }
  .blog {
    width: 40%;
  }
}

@media (max-width: 650px) {
  html,
  body,
  * {
    font-size: 0.5rem;
  }
  .blog {
    width: 70%;
  }
}
